    .new * {
        all: revert;
    }
    
    .ND-Box {
        display: block;
        background-color: rgb(52, 53, 124);
        color: white;
        margin: auto;
        border-radius: 10px;
        padding: 2px;
        text-align: center;
    }
    
    .toolInfo {
        display: block;
        float: left;
        background-color: rgb(230, 236, 249);
        width: 42%;
        border-radius: 10px;
        padding: 2%;
        margin-bottom: 15px;
    }
    
    .importantText {
        color: rgb(28, 29, 86);
        font-weight: 1000;
    }
    
    .info {
        height: 100%;
    }
    
    .generalInfo {
        display: block;
        float: right;
        background-color: rgb(230, 236, 249);
        width: 55%;
        border-radius: 10px;
        padding: 2%;
        margin-bottom: 15px;
    }
    
    .infoText {
        color: black;
        font-size: 15;
        text-align: center;
    }
    
    .infoHeader {
        color: rgb(28, 29, 86);
        font-weight: normal;
        font-size: 24;
        font-family: arial black;
        text-align: center;
    }
    
    #quiz {
        display: block;
        float: right;
        margin-top: 5px;
        background: #d8e1f3;
        padding: 15px 20px 28px 20px;
        width: 33%;
        border-radius: 10px;
        font-size: 16px;
    }
    
    #discount {
        display: none;
    }
    
    #discount-dropdown {
        width: 97%;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(99, 99, 99);
        border: none;
        padding: 2px;
    }
    
    #textbox {
        display: inline;
        height: 20px;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        padding-left: 5px;
        width: 20%;
    }
    
    .imperviousDef {
        visibility: hidden;
        opacity: 0;
        transition: display 0s, opacity 0.5s linear;
        border-radius: 8px;
        text-align: center;
        position: absolute;
        z-index: 999;
        width: 28%;
    }
    
    .imperviousDef .popupText {
        color: white;
        font-size: 11px;
        padding: 2px 2px 2px 2px;
    }
    
    .imperviousSurfaces {
        color: rgb(16, 17, 68);
        font-weight: bold;
    }
    
    .imperviousSurfaces:hover~div[class="imperviousDef"] {
        visibility: visible;
        background-color: rgb(52, 53, 124);
        opacity: 100%;
    }
    
    .imperviousSurfaces:hover {
        color: #bd222e;
        transition-duration: 0.5s;
    }
    
    b.questions {
        line-height: 1.5;
    }
    
    .mcanswers {
        line-height: 0.9;
    }
    
     ::placeholder {
        color: gray;
        font-size: 12px;
        opacity: 85%;
    }
    
    .mc {
        text-align: default;
        margin-left: 20px;
    }
    
    #button {
        background: #bd222e;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        transition-duration: .5s;
        margin-top: 15px;
        margin-left: 25%;
    }
    
    #button:hover {
        background: white;
        border: 1px solid #bd222e;
        color: black;
        cursor: pointer;
    }
    
    #alert {
        display: none;
        float: right;
        background: #bd222e;
        padding: 10px 20px 10px 20px;
        width: 32%;
        border-radius: 10px;
        font-size: 16px;
        color: white;
        margin-left: 70%;
        text-align: center;
        font-weight: bold;
    }
    
    .resultsSummaryTitle {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
        font-family: arial black;
    }
    
    #resultsID {
        display: none;
    }
    
    .ResultsSummaryInfo {
        border: none;
        padding: 10px 20px 10px 10px;
        padding-right: 10px;
        width: 31%;
        float: left;
        margin-top: 30gipx;
        margin-bottom: 8px;
        background-color: #bd222e;
        border-radius: 20px;
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
    }
    
    .sticky {
        top: 0;
        position: fixed;
    }
    
    .resultsSummaryText {
        font-size: 16px;
        float: left;
        color: white;
        line-height: 1.5;
        text-align: left;
        font-weight: none;
        padding-bottom: 0%;
    }
    
    .optiontitle {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
        font-family: arial black;
    }
    
    .variationsHeader {
        display: none;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        color: white;
        font-family: arial black;
    }
    
    .novariations {
        display: none;
    }
    
    .hasvariations {
        display: block;
    }
    
    .Variations {
        all: revert;
        float: right;
        text-align: left;
        color: white;
        line-height: normal;
        width: 70%;
    }
    
    .Variations div {
        display: none;
        margin: 0;
    }
    
    .directions {
        all: revert;
        text-align: center;
        font-size: 13px;
        color: rgb(28, 29, 86);
        font-family: arial black;
    }
    
    .button {
        background: wheat;
        border: none;
        color: tomato;
        text-align: center;
        font-size: 14px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 2px;
        width: 50px;
        padding: 10px;
    }
    
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        transition: 0.5s;
    }
    
    .button:hover span {
        padding-right: 15px;
    }
    
    .button:hover span:after {
        opacity: 1;
        right: 0;
    }
    
    .ResultsTabs {
        overflow: hidden;
        border: 2px solid #bd222e;
        background-color: #bd222e;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-width: 100%;
    }
    
    .ResultsTabs button {
        background-color: inherit;
        float: left;
        outline-style: solid;
        outline-color: #bd222e;
        /* border: 1px solid white;*/
        cursor: pointer;
        padding: 10px 12px;
        transition: 0.3s;
        opacity: 100%;
    }
    
    .ResultsTabs .AboutTab:hover {
        background: white;
        /*border: 1px solid #bd222e;*/
        color: black;
        cursor: pointer;
    }
    
    .ResultsTabs .AboutTab.active {
        background: white;
        /* border: 1px solid #bd222e;*/
        color: black;
        cursor: pointer;
    }
    
    .ResultsTabs .MoreInfoTab:hover {
        background: white;
        /*border: 1px solid #bd222e;*/
        color: black;
        cursor: pointer;
    }
    
    .ResultsTabs .MoreInfoTab.active {
        background: white;
        /*border: 1px solid #bd222e;*/
        color: black;
        cursor: pointer;
    }
    
    .resultsdisclaimer {
        font-size: 10px;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    
    .GSIimage {
        margin: 20px 5px 30px 5px;
        height: 180px;
        width: 180px;
        border-radius: 5%;
        opacity: 100%;
        float: left;
    }
    
    .AboutText {
        font-size: 16px;
        display: block;
        float: right;
        color: white;
        padding-top: 15px;
        width: 70%;
        line-height: 1.2;
        text-align: left;
        font-weight: none;
    }
    
    .CostInfoText {
        display: none;
        float: right;
        font-size: 16px;
        padding-top: 15px;
        width: 70%;
        line-height: 1.2;
        text-align: left;
        color: white;
    }
    
    .GSIlink {
        color: #bd222e;
        font-weight: bold;
    }
    
    .GSIoption {
        border: none;
        padding: 10px 20px 10px 20px;
        width: 66%;
        float: right;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 2%;
        background: #d16971;
        border-radius: 20px;
    }
    
    #VegetativeInfiltrationID {
        display: none;
    }
    
    #DryWellsID {
        display: none;
    }
    
    #PermeablePavementID {
        display: none;
    }
    
    #NonvegetativeInfiltrationID {
        display: none;
    }
    
    #RainbarrelsCisternsID {
        display: none;
    }
    
    #GreenRoofsID {
        display: none;
    }
    
    #InfiltrationChamberID {
        display: none;
    }
    
    #RainGardensSubmit {
        display: none;
    }
    
    #RainGardensSubmit h1,
    #RainGardensSubmit h2 {
        margin: 0;
        font-weight: normal;
    }
    
    #RainGardensSubmit h1 {
        font-size: 30px;
        font-family: "Lucida Console", monospace;
        color: white;
    }
    
    #RainGardensSubmit h2 {
        font-size: 15px;
        font-family: "Lucida Console", monospace;
        color: white;
        font-style: normal;
    }
    
    #TreeBoxesSubmit {
        display: none;
    }
    
    #TreeBoxesSubmit h1,
    #TreeBoxesSubmit h2 {
        margin: 0;
        font-weight: normal;
    }
    
    #TreeBoxesSubmit h1 {
        font-size: 30px;
        font-family: "Lucida Console", monospace;
        color: white;
    }
    
    #TreeBoxesSubmit h2 {
        font-size: 15px;
        font-family: "Lucida Console", monospace;
        color: white;
        font-style: normal;
    }
    
    #DryWellsSubmit {
        display: none;
    }
    
    #PorousPavementSubmit {
        display: none;
    }
    
    #GrassPaversSubmit {
        display: none;
    }
    
    #PermeableUnitPaversSubmit {
        display: none;
    }
    
    #InfiltrationChamberSubmit {
        display: none;
    }
    
    #SurfaceDetentionSubmit {
        display: none;
    }
    
    #BioretentionSubmit {
        display: none;
    }
    
    #InfiltrationBasinSubmit {
        display: none;
    }
    
    #InfiltrationTrenchSubmit {
        display: none;
    }
    
    #VegetativeSwaleSubmit {
        display: none;
    }
    
    #VegetativeFilterStripSubmit {
        display: none;
    }
    
    #VegetativeFilterStripSubmit h2 {
        margin: 0;
        font-weight: normal;
    }
    
    #VegetativeFilterStripSubmit h1 {
        font-size: 30px;
        font-family: "Lucida Console", monospace;
        color: white;
    }
    
    #VegetativeFilterStripSubmit h2 {
        font-size: 15px;
        font-family: "Lucida Console", monospace;
        color: white;
        font-style: normal;
    }
    
    #GreenRoofSubmit {
        display: none;
    }
    
    #GreenRoofSubmit h2 {
        margin: 0;
        font-weight: normal;
    }
    
    #GreenRoofSubmit h1 {
        font-size: 30px;
        font-family: "Lucida Console", monospace;
        color: white;
    }
    
    #GreenRoofSubmit h2 {
        font-size: 15px;
        font-family: "Lucida Console", monospace;
        color: white;
        font-style: normal;
    }
    
    #UndergroundDetentionSubmit {
        display: none;
    }
    
    #UndergroundDetentionSubmit h2 {
        margin: 0;
        font-weight: normal;
    }
    
    #UndergroundDetentionSubmit h1 {
        font-size: 30px;
        font-family: "Lucida Console", monospace;
        color: white;
    }
    
    #UndergroundDetentionSubmit h2 {
        font-size: 15px;
        font-family: "Lucida Console", monospace;
        color: white;
        font-style: normal;
    }
    
    #ConstructedWetlandSubmit {
        display: none;
    }
    
    #ConstructedWetlandSubmit h2 {
        margin: 0;
        font-weight: normal;
    }
    
    #ConstructedWetlandSubmit h1 {
        font-size: 30px;
        font-family: "Lucida Console", monospace;
        color: white;
    }
    
    #ConstructedWetlandSubmit h2 {
        font-size: 15px;
        font-family: "Lucida Console", monospace;
        color: white;
        font-style: normal;
    }
    
    #WetPondSubmit {
        display: none;
    }
    
    #WetPondSubmit h2 {
        margin: 0;
        font-weight: normal;
    }
    
    #WetPondSubmit h1 {
        font-size: 30px;
        font-family: "Lucida Console", monospace;
        color: white;
    }
    
    #WetPondSubmit h2 {
        font-size: 15px;
        font-family: "Lucida Console", monospace;
        color: white;
        font-style: normal;
    }
    
    #RainBarrelsCisternsSubmit {
        display: none;
    }
    
    #RainBarrelsCisternsSubmit h2 {
        margin: 0;
        font-weight: normal;
    }
    
    #RainBarrelsCisternsSubmit h1 {
        font-size: 30px;
        font-family: "Lucida Console", monospace;
        color: white;
    }
    
    #RainBarrelsCisternsSubmit h2 {
        font-size: 15px;
        font-family: "Lucida Console", monospace;
        color: white;
        font-style: normal;
    }
    
    #link {
        color: white;
    }